body {
  margin: 0px;
  background: linear-gradient(45deg, #00BFFF, #E0FFFF);
  display: flex;
  justify-content: center;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  word-break: break-all;
}
.boxHeader {
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 3px;
  padding-left: 8px;
}
#addToDO {
  float: right;
  background: none;
  border: none;
  color: white;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}
#addToDO:focus {
  outline: 0;
}
.boxItems {
  border: none;
}
.creator {
  padding: 3px;
  padding-left: 8px;
  border: none;
}
.even {
  background-color: #F5F5F5	;
}
.odd {
  background-color: rgb(180, 180, 180)
}
.hide {
  display: none;
}
.btn {
  background: none;
  cursor: pointer;
  border: none;
  float: left;
}
i {
  height: inherit;
}
.btn:focus {
  outline: 0
}
.checkoff {
  text-decoration: line-through;
}
.todoname {
  margin: 2px;
}